/* STANDARD */
	* {
		box-sizing: border-box;
		font-family: Arial, sans-serif;
		font-size: 18px;
	}

	header {
		font-weight: bold;
		font-size: 1.5em;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	.desktop {
		border-style: solid;
		border-color: #000000;
		border-width: 1px;
		width: 400px;
		height: 300px;
	}

/* Relative positioning */

	
/* Absolute positioning */