	* {
		box-sizing: border-box;
		font-family: Comic Sans, Comic Sans MS, cursive;
		font-size: 18px;
	}

	/* Desktop */
		@media (min-width: 992px) {
			.col-lg-4	{
				width: 32.66%;
				float: left;
				padding: 10px;
			}

			.section1 {
				margin-right: 1%;
			}

			.section2 {
				margin-right: 1%;
			}
		}

	/* Tablet */
		@media (min-width: 768px) and (max-width: 991px) {
			.col-md-6, .col-md-12	{
				float: left;
				padding: 10px;
			}
			
			.col-md-6	{
				width: 49.5%;
			}

			.col-md-12	{
				width: 100%;
			}
			.section1 {
				margin-right: 1%;
			}
		}

	/* Mobile */
		@media (max-width: 767px) {			
			.col-sm-12	{
				width: 100%;
				float: left;
				padding: 10px;
			}
		}

	/* Section title region */
		.heading {
			margin-top: 20px;
			margin-bottom: 30px;
		}

		.section {
			position: relative;
			margin-top: 10px;
			margin-left: ;
			margin-right: ;
		}

		.section>div:nth-child(1) {
			position: absolute;
			right: -2px;
			top: -2px;
			padding: 5px 20px;
		}

		.section>div:nth-child(2) {
			margin-top: 40px;
		}

	/* Borders, colours and styling */
		.heading {
			font-weight: bold;
			font-size: 2em;
			text-align: center;
		}

		.section {
			background-color: #CCD1D1;
			border-style: solid;
			border-width: 2px;
			border-color: #000000;
		}

		.section>div:nth-child(1) {
			font-weight: bold;
			border-style: solid;
			border-width: 2px;
			border-color: #000000;
		}

		.section1title {
			background-color: #D7BDE2;
		}

		.section2title {
			background-color: #AED6F1;
		}

		.section3title {
			background-color: #A3E4D7;
		}		